.first{
    border: 5px solid black;
    background-color: green;
    padding: 15px;
    text-align: center;
    margin: 15px;
}
.second{
    border: 5px solid black;
    background-color: lightgreen;
    padding: 25px;
}
.thired{
    border: 5px solid black;
    background-color: rgb(105, 138, 105);
    padding: 25px;
}
p{
    outline-color: red;
}
p.dotted{
    outline-style: dotted;
}
p.dashed{
    outline-style: dashed;
}
p.solid{
    outline-style: solid;
}
p.groove{
    outline-style: groove;
}
p.ridge{
    outline-style: ridge;
}
p.inset{
    outline-style: inset;
}
p.outset{
    outline-style: outset;
}
p.ex1{
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}
p.ex2{
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
}
p.ex3{
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
}
p.ex4{
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
}
p.ex5{
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
}
p.ex6{
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
}
p.ex7{
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
}
p.ex8{
    outline: dashed;
}
p.ex9{
    outline: dotted red;
}
p.ex10{
    outline: 5px solid yellow;
}
p.ex11{
    outline: thick ridge pink;
}
p.firsts{
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
    margin: 30px;
}
